html {
  font-size: 100%;
}

body {
  margin: 1em 1.6em;
  padding: 0;
  font-family: helvetica, arial;
  background-color: #171717;
  color: #fff;
  font-size: .8em;
}

.results > .branch {
  display: inline-block;
}

.branch {
  margin-bottom: 12px;
  background-color: rgba(112, 106, 247, .08);
  overflow: hidden;
}

.branch-title {
  overflow: hidden;
}

.test-header, .branch-title {
  padding: 6px 8px;
}

.branch-children {
  margin-bottom: 8px;
  display: inline-block;
  padding: 0 24px;
}

.branch-children .branch, .test-cont {
  margin-bottom: 1px;
}

.pass {
  background-color: rgba(16, 112, 13, .77);
}

.assert {
  padding: 4px 6px;
}

.assert-passed {
  background-color: rgba(16, 112, 13, .33);
}

.fail {
  background-color: rgba(184, 30, 30, 0.77);
}

.assert-failed {
  background-color: rgba(184, 30, 30, 0.33);
}


h2, h3 {
  font-size: 1em;
  margin: 0;
}

h3 {
  font-weight: normal
}

li {
  list-style: none
}

.no-padding {
  padding: 0
}

.no-margin {
  margin: 0
}